body {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    background-color: white;
}
.container {
  background-color: white;
}

text {
  position: absolute;			
  text-align: right;	
  font: 12px sans-serif;		
}

title {
  font-size: 3.5em;
  font-weight: bold;
}

div #tooltip {	
  position: absolute;			
  text-align: left;			
  /* width: 280px;					
  height: 40px;					 */
  padding: 10px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}